@import "tailwindcss";
@font-face {
  font-family: "Inter";
  font-style: normal;
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
}
@theme {
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey-200: hsl(0, 0%, 85%);
  --color-grey-300: hsl(233, 8%, 79%);
  --color-navy-600: hsl(236, 13%, 42%);
  --color-navy-950: hsl(240, 100%, 5%);
  --color-gold: hsl(35, 77%, 62%);
  --color-red: hsl(4, 85%, 63%);
}

@utility text-preset-1 {
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 1;
}
@utility text-preset-2 {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 1;
}
@utility text-preset-3 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1;
}
@utility text-preset-4 {
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 1;
}
@utility text-preset-5 {
  font-size: 1.125rem;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 1.33;
}
@utility text-preset-6 {
  font-size: 0.93755rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.733;
}
@utility text-preset-7 {
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 4.38px;
  line-height: 1.714;
}

@layer components {
  .menu-icon {
    z-index: 1;
  }
  .hamburger-menu {
    height: 1.25rem;
    width: 2.5rem;
    cursor: pointer;
  }

  .close-menu {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }

  .nav-item {
    @apply text-preset-5;
  }
}

html {
  font-family: "Inter";
}

/* Controlling the SVG element size for the nav menu buttons */
#hamburger-menu > svg:nth-child(1) {
  width: 2.5rem;
  height: 1.125rem;
}
#close-menu > svg:nth-child(1) {
  height: 2rem;
  width: fit-content;
}

nav {
  position: fixed;
  background-color: var(--color-white);
  right: 0;
  top: 0;
  padding: calc(1.5rem + 2rem + 5.5rem) 1.25rem 0;
  min-height: 100vh;
  width: 68%; /* Will be 40% for tablet */
}

nav > ul {
  display: grid;
  gap: 1.5rem;
}
